<div class="container mx-auto pt-10 flex flex-col space-y-10">
  <div class="grid md:grid-cols-3 gap-4 md:m-0 m-4">
    <div class="bg-white text-center p-20 rounded-lg shadow-lg flex flex-col space-y-3">
      <div class="text-7xl text-orange-600 font-bold">{{countTodo}}</div>
      <div class="text-xl">Que Hacer</div>
    </div>
    <div class="bg-white text-center p-20 rounded-lg shadow-lg flex flex-col space-y-3">
      <div class="text-7xl text-blue-900 font-bold">{{countDone}}</div>
      <div class="text-xl">Hecho</div>
    </div>
    <div class="bg-white text-center p-20 rounded-lg shadow-lg flex flex-col space-y-3">
      <div class="text-7xl text-red-800 font-bold">{{countExpired}}</div>
      <div class="text-xl">Expirado</div>
    </div>
  </div>
  <!---END GRID--->
  <task-chart-column></task-chart-column>
</div>
<!---END CONTAINER--->