<div class="bg-slate-300 h-full flex flex-col items-center px-2">
    <div class="flex md:flex-row flex-col justify-center md:items-center pt-6 space-x-8 pb-5">
        <div class="text-2xl">Cosas Por Hacer</div>
        <div class="text-base">Hoy: {{today | date: 'dd/MM/y'}}</div>
    </div>
    
    <div class="flex flex-col md:w-1/3 space-y-2">
        <ng-container *ngIf="tasks$ | async as tasks">
            <task-card *ngFor="let task of tasks" [task]="task.task" [id]="task.id" [status]="task.status" [defeated]="task.defeated"></task-card>
        </ng-container>
        <button class="h-16" (click)="openDialog()" mat-raised-button color="primary">
            <mat-icon class="customIconSize">control_point</mat-icon>
        </button>
    </div>
</div>

