<div class="flex flex-col items-center px-2">
    <div class="flex md:flex-row flex-col justify-center md:items-center pt-6 space-x-8 pb-5">
        <div class="text-2xl">Cosas Por Hacer</div>
        <div class="text-base">Hoy: {{today | date: 'dd/MM/y'}}</div>
    </div>

    <div class="flex flex-col md:w-2/3 w-full space-y-2">
        <div class="flex flex-row w-full space-x-2">
            <task-search class="grow"></task-search>
            <task-group-by class="bg-white rounded-lg"></task-group-by>
        </div>

        <ng-container *ngIf="tasks$ | async as tasks">
            <task-card (click)="openDialog(task.id)" class="cursor-pointer" *ngFor="let task of tasks"
                [task]="task.task" [id]="task.id" [status]="task.status" [defeated]="task.defeated"></task-card>
        </ng-container>
        <button class="h-16" (click)="openDialog('0')" mat-raised-button color="primary">
            <mat-icon class="customIconSize">control_point</mat-icon>
        </button>
    </div>
</div>